// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;


//
// Bring in Bootstrap
//
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Fredericka+the+Great&family=Quicksand:wght@300;400;500;600;700&display=swap');

//
// Custom styles
//
*{
  margin: 0;
}
body{
  background-color: darken($blue,40%);
  font-family: 'Quicksand', sans-serif;
}
.font-mali{
  font-family: 'Mali', cursive;
}

.font-fredericka{
  font-family: 'Fredericka the Great', cursive;
}

.work-exp{
  background-color:darken($cyan,10%);
  color: darken($blue, 25%);
  .col-3, .col-5{
    border-bottom: 1px dashed lighten($cyan, 10%);
    
  }
  .row:last-of-type .col-5, .row:last-of-type .col-3{
    border-bottom: none;
  }
 li{
   list-style: circle;
 }
}

.skill-badge{
  background-color: $secondary;
  color: darken($blue,40%) ;
  margin: 0 0.15rem 0.3rem;
}

.education{
    background-image: url('../img/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: cover;
    background-position: center;
   h1{
    color: lighten($purple, 10%) ;
   }
   h5{
     color:$purple ;
   }
   h6{
     color:darken($purple, 10%);
   }

}